:root {
  --clr-primary: #f70058;
  --clr-dark: #0c0e36;
  --clr-light: #fff;
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-black: 900;
}

.carousel-wrapper {
  height: 26em;
  position: relative;
  width: auto;
  margin: 0 auto;
}
.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.carousel-item h3 {
  font-size: 2rem;
  color: var(--clr-light);
  text-transform: capitalize;
}

.carousel-item p {
  font-weight: var(--fw-normal);
  color: var(--clr-light);
}

.arrow {
  border: solid var(--clr-primary);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

.arrow-prev {
  left: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
  right: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.light {
  color: var(--clr-light);
}

/*Select every element*/
[id^="item"] {
  display: none;
}

.item-1 {
  z-index: 2;
  opacity: 1;
  background: url(slide1.webp);
  background-size: cover;
}
.item-2 {
  background: url(slide2.webp);
  background-size: cover;
}
.item-3 {
  background: url(slide3.webp);
  background-size: cover;
}

*:target ~ .item-1 {
  opacity: 0;
}

#item-1:target ~ .item-1 {
  opacity: 1;
}

#item-2:target ~ .item-2,
#item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}

@media (min-width: 768px) {
  .carousel-wrapper {
    width: 100%;
  }

  .carousel-item h3 {
    padding-left: 2.5rem;
  }
  .carousel-item p {
    padding-left: 2.5rem;
  }


  .carousel-item {
    background-position: center right;
  }
  .arrow-prev {
    left: 30px;
  }

  .arrow-next {
    right: 30px;
  }
}

@media (min-width: 1000px) {
  .carousel-wrapper {
    width: 100%;
    height: 33em;
  }

  .carousel-item h3 {
    padding-left: 5.5rem;
  }
  .carousel-item p {
    padding-left: 5.5rem;
  }

  .carousel-item {
    padding: 3em 4em;
  }

  .arrow-prev {
    left: 30px;
  }

  .arrow-next {
    right: 30px;
  }
}
