:root {
  --clr-primary: #f70058;
  --clr-dark: #0c0e36;
  --clr-light: #fff;
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-black: 900;
  --grid: minmax(1em, 10%) minmax(10rem, 22ch) minmax(10rem, 23ch)
    minmax(1em, 3fr) max-content;
}

h2 {
  margin: 20px 0 40px 0;
  color: var(--clr-light);
  /* position: absolute; */
}

.carousel-wrapper {
  height: 25em;
  position: relative;
  width: 18em;
  margin: 0 auto;
  background-color: var(--clr-dark);
}
.carousel-item {
  position: absolute;
  top: 2.4em;
  bottom: 10px;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.arrow {
  border: solid var(--clr-primary);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

.arrow-prev {
  left: -20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
  right: -20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.light {
  color: var(--clr-light);
}

/* @media (max-width: 480px) {
  .arrow,
  .light .arrow {
    background-size: 10px;
    background-position: 10px 50%;
  }
} */

/*Select every element*/
[id^="item"] {
  display: none;
}

.item-1 {
  z-index: 2;
  opacity: 1;
  background: url("https://static.pexels.com/photos/6526/sea-beach-holiday-vacation-large.jpg");
  background-size: cover;
}
.item-2 {
  background: url("https://static.pexels.com/photos/6506/alcohol-bar-drinks-party-large.jpg");
  background-size: cover;
}
.item-3 {
  background: url("https://static.pexels.com/photos/6529/lake-kajak-kayak-large.jpg");
  background-size: cover;
}

*:target ~ .item-1 {
  opacity: 0;
}

#item-1:target ~ .item-1 {
  opacity: 1;
}

#item-2:target ~ .item-2,
#item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}

@media (min-width: 768px) {
  .carousel-wrapper {
    width: 100%;
  }
  h2 {
    margin: 0 0 0 30px;
    padding: 0.7em 0 0.3em 0;
    outline-offset: 5px;
    font-size: 2rem;
  }

  .carousel-item {
    margin-top: 2em;
  }
  .arrow-prev {
    left: 35px;
  }

  .arrow-next {
    right: 35px;
  }
}

@media (min-width: 1000px) {
  .carousel-wrapper {
    width: 75em;
  }
}
