@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-primary: #f70058;
  --clr-dark: #0c0e36;
  --clr-light: #fff;
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-black: 900;
}

.screen {
  position: relative;
  background: var(--clr-light);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  /* border-radius: 15px; */
}

.screen-body {
  display: flex;
  flex-direction: column;
}

.screen-body-item {
  flex: 1;
  padding: 0;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--clr-primary);
  font-size: 2.2rem;
  font-weight: var(--fw-bold);
}

.app-contact {
  margin-top: 0.8em;
  font-size: 1.2rem;
  color: var(--clr-dark);
  padding-bottom: 10px;
  text-decoration: none;
}

.app-contact a {
  text-decoration: none;
  color: var(--clr-dark);
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 30px;
}

.app-form-group.buttons {
  /* margin-bottom: 20px; */
  padding-top: 20px;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 2px solid var(--clr-dark);
  color: #ddd;
  font-size: 0.9rem;
  /* text-transform: uppercase; */
  outline: none;
  /* transition: border-color 0.2s; */
}

.app-form-control::placeholder {
  color: rgba(146, 146, 146, 0.6);
}

.app-form-control:focus {
  border-bottom-color: var(--clr-primary);
}

.button-contact {
  box-sizing: border-box;
  outline: 3px solid var(--clr-primary);
  outline-offset: -3px;
  color: var(--clr-primary);
}

.button-contact:hover {
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: orange;
}

.error {
  /* position: absolute; */
  color: orange;
  font-size: 0.7rem;
  /* height: 13px; */
}

@media (min-width: 700px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
  .app-contact {
    padding-bottom: 0;
  }
}

@media (min-width: 1080px) {
  .screen-body {
    /* padding: 40px; */
    flex-direction: row;
    min-height: 20em;
  }

  .app-title {
    display: flex;
    flex-direction: row;
  }

  .screen-body-item {
    padding: 0;
  }
}
