@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-primary: #f70058;
  --clr-dark: #0c0e36;
  --clr-light: #fff;
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-black: 900;
}

.screen {
  position: relative;
  background: var(--clr-light);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.screen-body {
  display: flex;
  flex-direction: column;
}

.screen-body-item {
  flex: 1;
  padding: 0;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--clr-primary);
  font-size: 2.2rem;
  font-weight: var(--fw-bold);
}

.app-contact {
  margin-top: 0.8em;
  font-size: 1.2rem;
  color: var(--clr-dark);
  padding-bottom: 10px;
  text-decoration: none;
}

.app-contact a {
  text-decoration: none;
  color: var(--clr-dark);
}

.phone {
  padding-bottom: 0.5em;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 30px;
}

#message {
  font-family: "Work Sans", sans-serif;
}

.app-form-group.buttons {
  /* margin-bottom: 20px; */
  padding-top: 20px;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 2px solid var(--clr-dark);
  color: var(--clr-dark);
  font-size: 0.9rem;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: rgba(188, 188, 188, 0.8);
  font-family: "Work Sans", sans-serif;
}

.app-form-control:focus {
  border-bottom-color: var(--clr-primary);
}

.button-contact {
  padding: 0.3em 0.4em !important;
  background-color: var(--clr-light);
  cursor: pointer;
  font-size: 1.1rem;
  color: var(--clr-dark);
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-weight: var(--fw-bold);
  margin-bottom: 0.75em;
  border: 2px solid var(--clr-primary);
}

.button-contact:hover {
  background-color: var(--clr-primary);
  color: var(--clr-light);
  border: 2px solid var(--clr-primary);
  padding: 0.3em 0.4em !important;
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.app-contact a {
  color: var(--clr-dark);
}

.app-contact a:hover {
  color: var(--clr-primary);
}

.error {
  color: var(--clr-primary);
  font-size: 0.8rem;
}

@media (min-width: 700px) {
  .screen-body {
    flex-direction: column;
  }

  .app-title {
    flex-direction: row;
    margin-bottom: 0.9em;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
  .app-contact {
    padding-bottom: 0;
  }
}

@media (min-width: 1080px) {
  .screen-body {
    flex-direction: row;
    min-height: 17em;
  }

  .app-title {
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    margin-bottom: 0.2em;
  }

  .screen-body-item {
    padding: 0;
  }
}

/* Modal */
body.modal-open {
  overflow: hidden;
}

.modal {
  display: none; /* hidden by default */
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  filter: drop-shadow(0 0 1.75rem rgba(0, 0, 0, 0.5));
}

/* Content/Box */
.modal-content {
  background-color: var(--clr-light);
  margin: 60% auto;
  padding: 1.2em;
  border: 1px solid var(--clr-dark);
  width: 80%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.close {
  color: var(--clr-dark);
  font-size: 2.2rem;
  font-weight: bold;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.success-message {
  color: var(--clr-primary);
  font-size: 1.125rem;
  text-align: center;
}

/* Show the Modal */
.show {
  display: block;
}

@media (min-width: 700px) {
  .modal-content {
    margin: 60% auto;
    border: 2px solid var(--clr-dark);
    width: 60%;
  }
}

@media (min-width: 1080px) {
  .modal-content {
    margin: 20% auto;
    width: 40%;
  }

  .close {
    font-size: 2.6;
  }

  .close:hover,
  .close:focus {
    color: var(--clr-primary);
    text-decoration: none;
    cursor: pointer;
  }

  .success-message {
    font-size: 1.125rem;
  }

  .show {
    display: block;
  }
}
