@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-primary: #f70058;
  --clr-dark: #0c0e36;
  --clr-light: #fff;
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-black: 900;
  --grid: minmax(1em, 10%) minmax(10rem, 22ch) minmax(10rem, 23ch)
    minmax(1em, 3fr) max-content;
}

nav {
  display: none;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 1.125rem;
  color: var(--clr-dark);
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  line-height: 1;
}

.top-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em;
}

.logo {
  min-height: 3em;
  max-width: 7em;
  margin-left: 1%;
}

.button {
  padding: 0.3em 0.5em;
  cursor: pointer;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-weight: var(--fw-bold);
  margin-bottom: 0.75em;
}

.button--main {
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

.button--main:hover {
  background-color: var(--clr-dark);
}

.button-outline {
  box-sizing: border-box;
  outline: 3px solid var(--clr-primary);
  outline-offset: -3px;
  color: var(--clr-primary);
}

.button-outline:hover {
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

header {
  background-color: var(--clr-light);
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav_mobile {
  position: absolute;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  border: none;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  top: 4rem;
  left: 1.5rem;
  right: 1.5rem;
  padding-block: 2.1875rem;
  gap: 10px;
  transform: scale(0);
  transition: transform 400ms ease;
  transform-origin: top right;
  z-index: 11;
}

.nav_mobile a {
  width: 8.755rem;
  height: 3rem;
  color: var(--clr-light);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
}

.nav_mobile a:active {
  font-size: 0.875rem;
  background-color: var(--clr-primary);
  color: var(--clr-primary);
}

.nav_mobile::before {
  content: " ";
  position: absolute;
  background-color: inherit;
  width: 30px;
  height: 26px;
  top: -20px;
  right: 0px;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.nav_mobile_open {
  transform: scale(1);
}

.hamburger_btn {
  background-color: transparent;
  border-color: transparent;
  margin-right: 2%;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.weather {
  display: grid;
  grid-template-columns: min-content 1fr;
  background: var(--clr-dark);
  color: var(--clr-light);
}

.weather-icon {
  grid-row: span 2;
  background: var(--clr-primary);
  padding: 0.5em;
  display: flex;
  align-content: center;
}

.weather-icon img {
  max-width: 2em;
}

.weather-info {
  margin: 0;
  text-align: left;
  margin-left: 0.75rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.75rem;
  font-weight: var(--fw-bold);
  text-transform: capitalize;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.weather-info span {
  color: var(--clr-light);
  margin-left: auto;
  margin-right: 0.75rem;
  text-transform: capitalize;
}

.weather-info:first-of-type {
  margin-top: 0.5em;
  position: relative;
  margin-bottom: 0.5rem;
}

.weather-info:first-of-type::after {
  content: "";
  position: absolute;
  background: var(--clr-light);
  opacity: 0.25;
  height: 1.5px;
  width: calc(100% - 0.75rem);
  bottom: 0;
  margin-bottom: -0.25rem;
}
.weather-info:last-of-type {
  margin-bottom: 0.5em;
}

.main-content {
  padding: 3em 1em 10rem;
}

.main {
  background-image: url(sebastian-staines.webp);
  background-size: cover;
}

.title {
  line-height: 1;
  font-weight: var(--fw-black);
  font-size: 3rem;
}

#map {
  height: 400px;
  width: 100%;
}

.map-title {
  margin: 2em 1em 1em 0;
  padding-left: 11%;
  font-size: 2em;
}

@media (min-width: 700px) {
  .main-content {
    display: grid;
    grid-template-columns: var(--grid);
    justify-items: start;
    padding-left: 0;
    padding-right: 0;
  }
  .main-content > * {
    grid-column: 2 / 4;
  }

  .main {
    background-position: left bottom;
  }
}

@media (min-width: 1080px) {
  nav {
    display: block;
  }

  .hamburger_btn {
    display: none;
  }

  .nav_mobile {
    display: none;
  }

  .nav-list {
    margin: 0;
    padding: 1em;
    list-style: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  header {
    display: grid;
    grid-template-columns: var(--grid);
    align-items: center;
  }

  .weather-info {
    min-height: 2.6em;
  }

  .logo,
  .nav,
  .weather {
    grid-row: 1;
    margin: 0;
  }

  .nav-link {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 15px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
  }

  .nav-link:hover {
    opacity: 1;
  }

  .nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: var(--clr-dark);
  }

  .nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }

  .nav-link-ltr:hover::before {
    width: 100%;
  }

  .logo {
    grid-column: 2;
    max-height: 3.5em;
    margin-left: 110%;
  }

  .nav {
    grid-column: 2 / 5;
    justify-self: end;
  }

  .weather {
    grid-column: -2 / -1;
    justify-self: end;
    margin: 0;
  }

  .weather-info span:last-child {
    padding-left: 2em;
  }
}

@media (min-width: 1200px) {
  .main-content {
    background-position: center right;
  }

  #map {
    height: 60vh;
    width: 100%;
  }
}
