@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-primary: #f70058;
  --clr-dark: #0c0e36;
  --clr-light: #fff;
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-black: 900;
}

.service_content {
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: 1.125rem;
  color: var(--clr-dark);
  /* line-height: 1.6; */
  padding: 70px 30px;
  /* padding-top: 10%; */
}

.serv_button {
  padding: 0.6em 0.8em;
  cursor: pointer;
  font-size: 1rem !important;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-weight: var(--fw-bold);
  margin-bottom: 0.75em;
}

.button--services {
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

.button--services:hover {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.button-services-second {
  box-sizing: border-box;
  outline: 3px solid var(--clr-primary);
  outline-offset: -3px;
  color: var(--clr-primary);
}

.button-services-second:hover {
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

.service_content h1 {
  font-size: 1.4rem;
  margin-bottom: 40px;
  font-weight: var(--fw-bold);
}

.service_content p {
  font-size: 0.9rem;
  /* font-weight: var(--fw-bold); */
  color: var(--clr-dark);
}

.service_content a {
  text-transform: uppercase;
  color: #23303e;
  margin-top: 40px;
  position: relative;
  font-size: 0.9rem;
}

.service_content a::before {
  content: "";
  position: absolute;
  /* width: 140px;
  height: 10px; */
  top: 50%;
  left: -13px;
  border-radius: 50px;
  opacity: 0.5;
  transition: opacity 200ms ease-in-out;
  z-index: -1;
}

.service_content a:hover::before {
  opacity: 1;
}

.service_pattern h1 {
  margin-bottom: 30px;
}

.pattern_1_image {
  height: 100%;
  width: 100%;
  margin-bottom: -10px;
  margin-top: -1px;
}

.pattern_2_image {
  height: 100%;
  width: 100%;
}

@media (min-width: 700px) {
  .service_pattern {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .service_content {
    padding: 0 30px;
    padding-top: 15%;
  }
  .service_content h1 {
    font-size: 1.6rem;
  }

  .service_content p {
    font-size: 1rem;
  }
}

@media (min-width: 1080px) {
  .service_content {
    padding: 0 70px;
    padding-top: 25%;
  }
  .service_pattern h1 {
    font-size: 3rem;
  }
  .service_pattern p {
    font-size: 1rem;
  }
}
